<h1>Convert <%= @currency %></h1> 

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currency_arr.each do |type| %>
    <li><a href=/<%= @currency %>/<%= type %>>Convert 1 <%= @currency %> to <%= type %>...</a></li>
  <% end %>
</ul>
